Repository srmibextesting/mibex-testing-repo, changes with the owners that CODEOWNERS names for each.
All owners: shihyuan@localhost.ch, wuning@localhost.ch, hans@localhost.ch, user@example.com, @User, @@PlanningLeads, @@ControlLeads, @@TypeScriptDevs

Update example.md
  example.md
Owners: hans@localhost.ch, user@example.com, @User

Update example.md
  example.md
Owners: hans@localhost.ch, user@example.com, @User

Update example.md
  example.md
Owners: hans@localhost.ch, user@example.com, @User

Update example.md
  example.md
Owners: hans@localhost.ch, user@example.com, @User

Update example.md
  example.md
Owners: hans@localhost.ch, user@example.com, @User

Add Directory with Spaces
  .idea/mibex-testing-repo.iml
  src/directyWith Spaces/testJavascript.js
Owners: hans@localhost.ch, user@example.com, @User, @@PlanningLeads, @@ControlLeads, @@TypeScriptDevs

Update README.md
  README.md
Owners: hans@localhost.ch, user@example.com, @User

Update example.md
  example.md
Owners: hans@localhost.ch, user@example.com, @User

Update example.md
  example.md
Owners: hans@localhost.ch, user@example.com, @User

Update example.md
  example.md
Owners: hans@localhost.ch, user@example.com, @User

Update example.md
  example.md
Owners: hans@localhost.ch, user@example.com, @User

Update README.md
  README.md
Owners: hans@localhost.ch, user@example.com, @User

Update README.md
  README.md
Owners: hans@localhost.ch, user@example.com, @User

Update README.md
  README.md
Owners: hans@localhost.ch, user@example.com, @User

Update README.md
  README.md
Owners: hans@localhost.ch, user@example.com, @User

Update README.md
  README.md
Owners: hans@localhost.ch, user@example.com, @User

Update README.md
  README.md
Owners: hans@localhost.ch, user@example.com, @User

Update README.md
  README.md
Owners: hans@localhost.ch, user@example.com, @User

Update README.md
  README.md
Owners: hans@localhost.ch, user@example.com, @User

Update README.md
  README.md
Owners: hans@localhost.ch, user@example.com, @User

Update README.md
  README.md
Owners: hans@localhost.ch, user@example.com, @User

Update README.md
  README.md
Owners: hans@localhost.ch, user@example.com, @User

Update README.md
  README.md
Owners: hans@localhost.ch, user@example.com, @User

Update README.md
  README.md
Owners: hans@localhost.ch, user@example.com, @User

Update README.md
  README.md
Owners: hans@localhost.ch, user@example.com, @User

Update README.md
  README.md
Owners: hans@localhost.ch, user@example.com, @User

Update README.md
  README.md
Owners: hans@localhost.ch, user@example.com, @User

Update README.md
  README.md
Owners: hans@localhost.ch, user@example.com, @User

Update mermaid.md
  mermaid.md
Owners: hans@localhost.ch, user@example.com, @User

Update mermaid.md
  mermaid.md
Owners: hans@localhost.ch, user@example.com, @User

Update mermaidInMarkdown.md
  mermaidInMarkdown.md
Owners: hans@localhost.ch, user@example.com, @User

Create sectionTitleExamples.adoc
  sectionTitleExamples.adoc
Owners: hans@localhost.ch, user@example.com, @User

Update footer.adoc
  src/asciidoc/include-to-much/footer.adoc
Owners: @@PlanningLeads, @@ControlLeads, @@TypeScriptDevs

Create openAPIExample.yml
  openAPIExample.yml
Owners: hans@localhost.ch, user@example.com, @User

Create ansiEscaprCodes.ipynb
  ansiEscaprCodes.ipynb
Owners: hans@localhost.ch, user@example.com, @User

Create example.groovy
  example.groovy
Owners: hans@localhost.ch, user@example.com, @User

Create example.proto
  example.proto
Owners: hans@localhost.ch, user@example.com, @User

Create multilineExample.md
  multilineExample.md
Owners: hans@localhost.ch, user@example.com, @User

Create multilineExampleAsciiDoc.adoc
  multilineExampleAsciiDoc.adoc
Owners: hans@localhost.ch, user@example.com, @User

Create asciidocHeadings.adoc
  asciidocHeadings.adoc
Owners: hans@localhost.ch, user@example.com, @User

CODEOWNERS:

@@@PlanningLeads    shihyuan@localhost.ch
@@@ControlLeads     wuning@localhost.ch

@@@TypeScriptDevs   hans@localhost.ch user@example.com

* hans@localhost.ch user@example.com @User

((Check(@@PlanningLeads >= 1) | Check(@@ControlLeads >= 1)) & Check(@@TypeScriptDevs >= 1))

src/   @@PlanningLeads @@ControlLeads @@TypeScriptDevs
